.sidebar {
    width: 4rem;
    box-shadow: $box-shadow-default;
    height: 100vh;
    position: sticky;
    // overflow: scroll;
    // overflow-y: hidden;
    // overflow-x: hidden;
    left: 0;
    top: 0;
    z-index: 101;

    a {
        color: theme-color("darkest");
        &:hover {
            text-decoration: none;
        }
    }

    .sidebar-icon {
        background-color: $white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i.fas {
            font-size: 20px;
        }
    }

    .button-icon {
        background-color: theme-color("primary");
        color: $white;
    }

    .icon-toggle-sidebar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            color: white;
            font-size: 1.5rem;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                color: theme-color("accent");
            }
        }

        i.rotate {
            transform: rotate(180deg);
        }
    }

    .sidebar-content {
        width: 100%;
        height: 100%;
        transition: opacity 0.4s ease-in-out;

        .btn {
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;

            li {
            }
        }
    }

    .show-modal {
        display: block;
    }
}
