.control-sidebar--wrapper {
    height: 100vh;
    transition: 0.3s width ease-in-out;
    box-shadow: $box-shadow-default;
    position: sticky;
    top: 0;
    right: 0;
    width: inherit;

    .control-sidebar--toggle-icon {
        position: absolute;
        top: 0;
        left: -32px;
        width: 32px;
        height: 34px;
        background-color: $white;
        border-right: none;
        border-top: 1px solid theme-color("grey");
        border-left: 1px solid theme-color("grey");
        border-bottom: 1px solid theme-color("grey");
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
            color: $font-size-base;
            font-size: 25px;
        }

        i.rotate {
            transform: rotate(180deg);
        }
    }
}

.control-sidebar--wrapper-hide {
    width: 0;
    transition: 0.3s width ease-in-out;
    z-index: 101;
}

.control-sidebar {
    height: 100vh;
    transition: 0.3s ease-in-out;
    top: 0;
    background-color: $white;
    box-shadow: $box-shadow-default;
}
