.sidebar-big {
    width: 20vw;
    max-width: 300px;
    transition: width 0.3s ease-in-out;
}

.sidebar-small {
    width: 50px;
    transition: width 0.3s ease-in-out;

    .sidebar-content {
        opacity: 0;
        transition: opacity 0.05s ease-in-out;
    }
}
.sidebar {
    box-shadow: $box-shadow-default;
    height: 100vh;
    position: sticky;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 0;
    top: 0;
    z-index: 101;

    .icon-toggle-sidebar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            color: white;
            font-size: 1.5rem;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                color: theme-color("accent");
            }
        }

        i.rotate {
            transform: rotate(180deg);
        }
    }

    .sidebar-content {
        width: 100%;
        height: 100%;
        transition: opacity 0.4s ease-in-out;

        .btn {
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;

            li {
                a {
                    color: #fff;
                    font-size: 0.8rem;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .show-modal {
        display: block;
    }
}
