.btn {
    border-radius: $border-radius-m;
}

.btn-primary {
    color: #fff;
}

.btn-transparent {
    &:focus {
        outline: none !important;
    }
}

.flex-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
