.modal {
    display: block;
    background-color: rgba(128, 128, 128, 0.4);

    .modal-dialog {
        margin: 0 auto;
        transition: top 0.5s ease-in-out;
        transform: translateY(-50%);
        top: 50%;
        opacity: 0;
        animation: fade-in 0.3s ease-in-out;
        animation-fill-mode: forwards;
    }

    .limit-height {
        max-height: 50vh;
        // overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .modal-content {
        i {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            cursor: pointer;
        }
        border-radius: $border-radius;
        border: none;

        .modal-header {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

// Fade in from top of screen.
@keyframes fade-in {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.relative-modal--wrapper {
    position: relative;

    .relative-modal--modal {
        position: absolute;
        z-index: 2000;
        background-color: $white;
        top: 40px;
        left: 0;
        //width: 200px;
        max-height: 250px;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: $box-shadow-default;
        border-radius: $border-radius;
        border: 1px solid theme-color("grey");

        .close-icon {
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            z-index: 2001;
            padding: 5px;
            background-color: $white;
        }

        .relative-modal--content {
            overflow-y: scroll;
            width: 115%;
            padding-right: 15%;
            position: relative;
        }
    }
}
