.pop-up--wrapper {
    position: relative;

    .pop-up--modal {
        position: absolute;
        z-index: 2000;
        background-color: $white;
        top: 40px;
        left: 0;
        max-height: 250px;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: $box-shadow-default;
        border-radius: $border-radius;
        border: 1px solid theme-color("grey");

        .pop-up--header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            h4 {
                margin: 0;
                padding: 0;
            }
        }

        .close-icon {
            cursor: pointer;
            z-index: 2001;
            background-color: $white;
        }

        .pop-up--content {
            overflow-y: scroll;
            width: 115%;
            padding-right: 15%;
            position: relative;

            .list-group-item {
                cursor: pointer;
            }
        }
    }
}
