.input-full {
    border: none;
    width: 100%;
    box-shadow: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.invalid-feedback {
    display: block;
}

.list-group-item {
    display: flex;
    align-items: center;
    input {
        margin-top: 0;
    }
}

.custom-file {
    width: 50%;
    display: block;
    margin: auto;
}
