.container-fluid {
    padding: 0;

    .with-sidebar-content {
        width: 100%;
    }
}

.row-full {
    @extend .row;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    .col {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
